<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>We need access to your camera to take photos for chat messages.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to pick images for chat messages.</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>Profil resminizi seçmek için fotoğraf galerisine erişim izni gerekiyor.</string>

    
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
